:root {
  /* Colors */
  --primary-color: hsl(25, 97%, 53%);
  --white-color: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --med-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  /* typography */
  --p-size: 15px;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--very-dark-blue);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Overpass', sans-serif;
}

/* ----- Global Styles ----- */
.card__container {
  background-color: transparent;
  width: 400px;
  height: 416px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-animation: scaleUp 0.6s cubic-bezier(0.85, 0, 0.15, 1) forwards;
          animation: scaleUp 0.6s cubic-bezier(0.85, 0, 0.15, 1) forwards;
}

.card__content {
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: -webkit-transform 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: transform 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: transform 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6), -webkit-transform 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%);
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.card__content.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__content .card__rating,
.card__content .card__thanks {
  position: absolute;
  top: 32px;
  bottom: 32px;
  left: 32px;
  right: 32px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card__content .card__rating {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: var(--med-grey);
}

.card__content .card__rating .card__icon-wrapper {
  margin-bottom: 30px;
  padding: 1rem;
  width: 48px;
  height: 48px;
  background-color: var(--dark-blue);
  border-radius: 50%;
}

.card__content .card__rating .card__icon-wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__content .card__rating .card__message .card__title {
  font-size: 28px;
  line-height: 35px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 16px;
}

.card__content .card__rating .card__message .card__description {
  font-size: var(--p-size);
  line-height: 24px;
  font-weight: 400;
  color: var(--light-grey);
}

.card__content .card__rating .card__message .card__rating-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 51px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.card__content .card__rating .card__message .card__rating-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  width: 51px;
  height: 51px;
  background-color: var(--dark-blue);
  color: var(--med-grey);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card__content .card__rating .card__message .card__rating-btn:hover, .card__content .card__rating .card__message .card__rating-btn:focus {
  background-color: var(--med-grey);
  color: #fff;
}

.card__content .card__rating .card__message .card__rating-btn:focus {
  outline: 2px dashed #fff;
}

.card__content .card__rating .card__message .card__rating-btn:focus:not(:focus-visible) {
  outline: none;
}

.card__content .card__rating .card__message .card__rating-btn.active {
  background-color: var(--primary-color);
  color: #fff;
}

.card__content .card__rating .card__cta {
  width: 100%;
  cursor: pointer;
  border-radius: 22.5px;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
  padding: 13px 0px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card__content .card__rating .card__cta:hover, .card__content .card__rating .card__cta:focus {
  background-color: #fff;
  color: var(--primary-color);
}

.card__content .card__rating .card__cta:focus {
  outline: 2px dashed var(--primary-color);
  outline-offset: 2px;
}

.card__content .card__rating .card__cta:focus:not(:focus-visible) {
  outline: none;
}

.card__content .card__rating .card__cta:disabled {
  opacity: 0.6;
}

.card__content .card__rating .card__cta:disabled:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: initial;
}

.card__content .card__thanks {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__content .card__thanks .card__illustration-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 32px;
}

.card__content .card__thanks .card__rating-result-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__content .card__thanks .card__rating-result-wrapper .card__rating-result {
  background-color: var(--dark-blue);
  border-radius: 22.5px;
  padding: 4px 20px;
  margin-bottom: 32px;
  font-size: var(--p-size);
  line-height: 24px;
  color: var(--primary-color);
}

.card__content .card__thanks .card__thanks-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.card__content .card__thanks .card__thanks-message h2 {
  font-size: 28px;
  line-height: 35px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 7px;
}

.card__content .card__thanks .card__thanks-message p {
  color: var(--light-grey);
  text-align: center;
  font-size: var(--p-size);
  line-height: 24px;
}

/* ----- Media queries ----- */
@media screen and (max-width: 450px) {
  .card__container {
    width: 328px;
  }
  .card__content .card__rating {
    top: 24px;
    left: 24px;
    right: 24px;
    bottom: 24px;
  }
  .card__content .card__thanks {
    top: 24px;
    left: 24px;
    right: 24px;
    bottom: 24px;
  }
}

@media (prefers-reduced-motion) {
  .card__container {
    -webkit-animation: none;
            animation: none;
  }
}

/* ----- Animations ----- */
@-webkit-keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=rate.css.map */